{{ define "main" }}
<div class="container py-4">
    <div class="col col-lg-8">
        {{ partial "posts/head.html" . }}
        <section>
            {{ .Content }}
        </section>
        <section>
            {{ $ideasDir := print .File.Dir "ideas/" }}
            <ul>
                {{ range $i, $page := where .Site.RegularPages "File.Dir" $ideasDir }}
                    <li><a href="#{{ $page.Title | anchorize }}">#{{ add $i 1 }} - {{ $page.Title }}</a></li>
                {{ end }}
            </ul>
            <hr />
            {{ range $i, $page := where .Site.RegularPages "File.Dir" $ideasDir }}
                <h3 id="{{ .Title | anchorize }}">#{{ add $i 1 }} - {{ .Title }}</h3>
                <b>Mentor:</b> {{ .Params.mentor }}<br />
                <b>Project type:</b> {{ .Params.project_type }}<br />
                <b>URL:</b> <a href="{{ .Params.project_url }}">{{ .Params.project_url }}</a><br />
                <b>Expected Project hours:</b> {{ .Params.hours }}<br />
                <br />
                {{ .Content }}
            {{ end }}
        </section>
    </div>
</div>
{{ end }}
