<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Honeynet Project</title>

    {{ $style := resources.Get "main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    {{ $js := resources.Get "bootstrap-5.3.0/bootstrap.bundle.min.js" | resources.Fingerprint }}
    <script src="{{ $js.RelPermalink }}"></script>
</head>
<body>
<header>
    <div class="container py-2">
        {{ partial "nav.html" . }}
        {{- block "header" . }}{{- end }}
    </div>
</header>
<main>
    {{- block "main" . }}{{- end }}
</main>
<footer class="bg-primary">
    <div class="container p-4 d-flex justify-content-between">
        <span>The Honeynet Project 1999 &ndash; 2022</span>
        <div>
            TODO: add socials here
        </div>
    </div>
</footer>
</body>
</html>
