$primary: #f0b913;
@import "bootstrap-5.3.0/scss/bootstrap";
@import "fonts";
@import "frontpage";


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  overflow: hidden;
}

h1 {
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
}

header {
  background-repeat: no-repeat;
  background-image: url(/header.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
}

nav {
  font-family: Rajdhani, sans-serif;
  font-weight: 700;
}

.nav-link {
  text-transform: uppercase;
}

.navbar[data-bs-theme=dark] {
  --bs-navbar-active-color: var(--bs-primary);
  --bs-navbar-color: #ffffffdd;
  --bs-navbar-hover-color: #ffffffff;
}

.discord-link {
  padding-left: 8px;
}

blockquote {
  font-style: italic;
  padding-left: 15px;
  border-left: 3px solid #565857;
}

.thumbnail {
  text-align: center;
  padding: 10px;
}

footer {
  margin-top: auto;
}

[data-bs-theme="dark"] footer {
  span {
    color: rgba(255, 255, 255, 0.9) !important;
  }
}

[data-bs-theme="light"] footer {
  span {
    color: rgba(0, 0, 0, 0.9) !important;
  }
}


.navbar[data-bs-theme=dark] {
  --bs-navbar-active-color: $primary;
  --bs-navbar-color: #ffffffdd;
  --bs-navbar-hover-color: #ffffff;

  .nav-link.active,
  .nav-item.active > .nav-link,
  .nav-item.show > .nav-link,
  .nav-link[aria-current="page"],
  .nav-item.current-section > .nav-link {
    color: $primary !important;
  }

  .nav-item {
    &.active,
    &.show {
      .nav-link {
        color: $primary !important;
      }
    }
  }

  .dropdown-item {
    &.active,
    &:active {
      background-color: $primary;
      color: var(--bs-dark) !important;
    }
  }

  .nav-link:hover {
    color: rgba($primary, 0.8) !important;
  }
}

body.section-workshops .navbar .nav-link[href*="workshops"] {
  color: $primary !important;
}

