permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '27 3,9,15,21 * * *'

jobs:
  deploy:
    uses: mhils/workflows/.github/workflows/gh-pages-hugo.yml@v3
    with:
      deploy: ${{ github.ref == 'refs/heads/main' }}
    permissions:
      contents: read
      id-token: write
      pages: write
